:root {
    /*
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);*/
    --surface-ground: #e0f7fa; /* Light blue background */
    --code-background: #9dc0f9; /* Darker blue for code background */
    --code-color: #b3e5fc; /* Lighter blue for code text */
}
