:root {
    /*
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);*/
    --surface-ground: #e0f7fa; /* Light blue background */
    --code-background: #032f75; /* Darker blue for code background */
    --code-color: #ac1010; /* Lighter blue for code text */
}
